build/*
*.kdev4
*.so
*.dll
*.o
*.dylib
lua_api/*.dylib
datasets/*
source/cmake-build-debug/*
source/html
source/latex
source/build
.DS_Store
*/.idea/*
.vscode/*
datasets/*
*.dylib
*.dylib
*.dylib
lua_api/libcgraph.dylib
datasets/iris/iris.csv
*.html
